@{
    ViewData["Title"] = "Login";
}
@using Vulnerable.Models
@model AuthenticationModel

<form>
    <input type="text" placeholder="username" name="username" />
    <input type="text" placeholder="password" name="password" />
</form>
