<form method="get" id="search-file">
    <input type="search" placeholder="Search" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Your files</h5>
        <table id="file-table" class="table table-striped bg-white table-responsive">
            <tbody class="table-tbody">
            </tbody>
        </table>
    </div>
    
</div>

